@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 17% 96%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 232 48% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 16% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 16% 94%;
    --muted-foreground: 220 9% 45%;
    --accent: 36 100% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 232 48% 54%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222.2 84% 4.9%;
    --sidebar-primary: 232 48% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 17% 96%;
    --sidebar-accent-foreground: 222.2 84% 4.9%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 232 48% 54%;
  }
  .dark {
    --background: 220 25% 10%;
    --foreground: 210 40% 98%;
    --card: 220 25% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 220 25% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 232 48% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 25% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 25% 17%;
    --muted-foreground: 220 15% 65%;
    --accent: 36 100% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 25% 17%;
    --input: 220 25% 17%;
    --ring: 232 48% 54%;
    --sidebar-background: 220 25% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 232 48% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 25% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 25% 17%;
    --sidebar-ring: 232 48% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
